

.containerLista {
    border-bottom:1px solid rgba(0, 0, 0 , 0.5);
    padding: 10px 0;
}

.containerLista li {
    width:100%;
    font-size: 0.9rem;
}

.containerLista a {
    color:black;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding:14px 30px;
    font-weight: 600;
    gap:30px;
}

.containerLista a:hover, .sobre:hover {
    background-color: rgba(0, 0, 0 , 0.05);
}

.containerLista .icon {
    font-size: 1.2rem;
    width: 30px;
}

.sobre {
    width:100%;
    font-size: 0.85rem;
    padding:20px 30px 25px;
    font-weight: 600;
    color:black;
    display: block;
    background-color: rgba(0,0,0,0.02);
}

.itemCart {
    display: none;
}

.itemCart .icon {
    font-size: 1.1rem;
}



/*mediaqueries*/

@media only screen and (min-width:731px) and (max-width:1030px){
    .itemCart{
        display: block;
    }
}

@media only screen and (max-width:500px){
    
        
    .containerLista li {
        width:100%;
        font-size: 0.8rem;
    }
    .containerLista .icon {
        font-size: 1rem;
        width: 30px;
    }

    .containerLista a {
        gap:20px;
    }
}

